<form action="/users/reset" method="POST">
    <input type="email" name="email" required placeholder="enter email">
    <input type="password" name="password" required placeholder="enter password">
    <input type="password" name="new_password" required placeholder="enter new password">
    <input type="submit" id="submit" >
</form>