<h1>User Sign In</h1>
<link rel="stylesheet" href="/css/signin.css">
<p><a href="/users/auth/google">Google Sign In </a></p>
<form action="/users/create" method="POST">
    <input type="email" name="email" required placeholder="enter email">
    <input type="password" name="password" required placeholder="enter password">
    <input type="password" name="confirm_password" required placeholder="confirm password">
    <input type="text" name="name" required placeholder="enter user-name">
    <input type="submit" id="submit">
</form>

