<h1>User Sign Up</h1>
<p><a href="/users/auth/google">Google Sign In </a></p>
<p><a href="/users/reset_page">reset Password</a></p>
<link rel="stylesheet" href="/css/signup.css">
<form action="/users/create_session" method="POST">
    <input type="email" name="email" required placeholder="enter email">
    <input type="password" name="password" required placeholder="enter password">
    <input type="submit" id="submit" >
</form>

