<link rel="stylesheet" href="/css/profile.css">
        <H1>Welcome to profile page</H1>
        <h3> Username: <span> <%=user.name %></span></h3>
       <h3> Email: <span> <%=user.email %></span></h3>
     